* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#f8f8f8;
}

body {
    font-family: italic;
    line-height: 1.5;
    background: rgb(233, 236, 239);
}

.all{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    border-radius: 12px;
    background: #f8f8f8;
    padding: 20px;
    gap: 20px;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.aca {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
}

.container#tecnologias {
    grid-column: span 3;
    margin-top: 170px;
    color:#f8f8f8;
}

#descripcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 5px;
}

#about {
    font-family: 'italic';
    font-size: 28px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 30%;
}

span {
    color: #00bcd4;
    font-weight: 600;
}

#foto-carnet {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #222;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.titulo {
    width: 100%;
}

.titulo h2 {
    margin-bottom: 10px;
    transform: translateX(0);
    transition: all 3s ease;
    display: inline-block;
    padding: 10px 20px;
}

.titulo:hover h2 {
    transform: translateX(40vw);
    background: rgba(33, 37, 41, 0.377);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 24px rgba(63, 63, 63, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background: rgba(73, 80, 87, 0.377);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}

.card:hover {
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.60);
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
}

.cards#Proyectos {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.foto-proyecto {
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.foto-proyecto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}

footer {
    display: flex;
    background: linear-gradient(180deg,rgb(73, 80, 87),rgb(33, 37, 41));
    position :relative;
    padding: 20px , 0;
}

.contactos {
    display:grid;
    grid-template-columns: repeat(3,200px);
    gap: 100px;
}

p {
    font-family: 'Raleway';
    font-size: 200;
    font-style: normal;
}

h3 {
}

.contacto a {
  text-decoration: none;
}